.section-title h2 {
    font-size: 32px;
    font-weight: var(--title-weight);
    margin: 0;
    text-align: center;
}
.section-title hr {
    width: 180px;
    height: 4px;
    background-color: var(--secondary-color);
    border: none;
    margin: 16px auto 32px;
}