.section-title h2 {
  font-size: 32px;
  font-weight: var(--title-weight);
  margin: 0;
  text-align: center;
}
.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px;
}
.card {
  background-color: black;
  width: 312px;
  height: 288px;
  color: var(--text-secondary-color);
  position: static;
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
}
.card header {
  display: block;
  padding: 0;
  margin-bottom: 24px;
  background: none;
}
.card header p {
  font-weight: var(--text-weight);
  font-size: 20px;
}
.card header h3 {
  font-weight: var(--title-weight);
  font-size: 40px;
  margin: 8px 0 0;
}
.card header h3 span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}
.card.japao {
  background: url(../img/bd-card-japao.jpg) no-repeat;
  background-size: cover;
}
.card.san-andreas {
  background: url(../img/bd-card-san-andreas.jpg) no-repeat;
  background-size: cover;
}
.card.paraiba {
  background: url(../img/bd-card-paraiba.jpg) no-repeat;
  background-size: cover;
}
.card.manaus {
  background: url(../img/bd-card-manaus.jpg) no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1024px) {
  .card {
    width: 588px;
    height: 308px;
  }
  .card header h3 {
    font-size: 48px;
  }
  .card header h3 span {
    font-size: 40px;
  }
}
